.nav-item .active {
    color: #009ad8;
    border-color: #009ad8;
}

#main {
    background-image: url("../Images/banner.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    /* background-position:center ; */
}

body {
    margin: 0%;
    color: #bfc1c8;
    font-family: "Roboto", "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    background: #1e202b;
}

a {
    background: transparent;
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

.forecast-container {
    width: 100%;
    background: #323544;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.site-footer {
    background: #262936;
    padding: 50px 0;
  }

.site-footer .social-links a {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    background: #1e202b;
    color: #009ad8;
    text-align: center;
    line-height: 2;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    font-size: 20px;
    font-size: 1.4285714286em;
  }
  .site-footer .social-links a:hover {
    background: #009ad8;
    color: white;
  }